<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    {{>header}}
        <form action="">
            <input type="text" placeholder="location name">
            <button>Submit</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
    {{>footer}}

    <script src="/script/script.js"></script>
</body>

</html>